@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: whitesmoke;
}

body {
    background-color: #333333;
}

/* --- navbar --- */

#navbar {
    font-weight: 500;
    height: 30px;
    position: fixed;
    width: 100%;
    background-color: #333333;
}

#navbar ul {
    list-style-type: none;
    overflow: hidden;
}

#navbar ul li {
    float: left;
    width: 33.3%;
}

#navbar ul li a {
    display: block;
    border: 1px solid rgb(70, 156, 73);
    margin: 0 2px;
    padding: 5px 0;
    height: 20px;
}

#navbar ul li a:hover {
    background-color: rgb(70, 156, 73);
}

/* --- welcome section --- */

#welcome-section {
    width: 100%;
    height: 100vh;
}

h1, h2 {
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    padding-top: 45vh;
    font-size: 210%;
}

p {
    margin: 0 10%;
    border-top: 1px solid rgb(70, 156, 73);
    color: rgb(70, 156, 73);
    font-size: 130%;
    font-style: italic;
}

/* ---- projects sections ---- */

#projects {
    margin: auto;
    background-color: #505050;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.row {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 150%;
    text-align: center;
    padding: 30px 20px;
    color: whitesmoke;
}

.column {
    padding: auto;
    margin: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #333333;
    margin-bottom: 20px;
}

.column:hover {
    transform: scale(1.1);
}

.project-tile {
    text-align: center;
    color: rgb(70, 156, 73);
    font-size: 110%;
    font-style: italic;
    padding: 10px;
}

.column img {
    margin: auto;
    width: 100%;
}

/* ---- Contact sections --- */

#contact {
    width: 100%;
    margin: auto;
}

.row-contact {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.column-contact {
    border: 1px solid rgb(70, 156, 73);
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
}

.column-contact:hover {
    background-color: rgb(70, 156, 73);
}

/* --- medias --- */

@media (min-width: 420px) {
    h1 {
        font-size: 220%;
    }
    h2 {
        font-size: 160%;
    }
}

@media (min-width: 620px) {
    h1 {
        font-size: 240%;
    }
    h2 {
        font-size: 200%;
    }
    .row {
        flex-direction: row;
        margin-bottom: 4%;
    }
    .column {
        margin: auto;
        width: 50%;
    }
    .left {
        margin-right: 2.5%;
    }
    .right {
        margin-left: 2.5%;
    }
    /* --- contact --- */
    .row-contact {
        flex-direction: row;
        margin: auto;
    }
    .column-contact {
        width: 100%;
        margin: auto;
        font-size: 88%;
    }
    .margin {
        margin-right: 10px;
    }
}

/* --- 700px --- */

@media (min-width: 700px) {
    h1 {
        font-size: 280%;
    }
    h2 {
        font-size: 220%;
    }
}

@media (min-width: 90 0px) {
    h1 {
        font-size: 300%;
    }
    h2 {
        font-size: 250%;
    }
}